@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&family=Roboto:wght@100;300;400;700;900&display=swap");
* {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  font-family: "Roboto", sans-serif;
  color: white;
  letter-spacing: 3px;
}

.BG-Vid {
  position: fixed;
  bottom: 0;
  right: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.header {
  color: white;
  width: 100vw;
  height: 35vh;
}
.header ul {
  display: flex;
  position: relative;
  justify-content: center;
  list-style-type: none;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.header ul li {
  color: white;
  display: inline;
  padding: 0 30px;
  font-size: large;
  font-weight: bold;
}
.header ul li a {
  text-decoration: none;
}
.header ul li a:hover {
  text-decoration: underline;
  color: #E6C22E;
}
.header .logo-title-cont {
  position: relative;
  right: -50%;
  transform: translate(-50%, 0);
  width: 50%;
  padding: 5vh 0 0 0;
}
.header .logo-title-cont img {
  position: relative;
  right: -50%;
  transform: translate(-50%, 0);
  height: 128px;
  width: auto;
}
.header .logo-title-cont #Title {
  text-align: center;
  width: 100%;
  padding: 0.4em 0 0.8em 0;
  font-weight: 700;
}
.header .logo-title-cont a {
  text-decoration: none;
}

.Footer {
  height: 10vh;
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  padding: 5vh 0 0 0;
}
.Footer .Container {
  width: 52vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
  position: inherit;
}
.Footer .Container #left {
  height: 100%;
  width: 100%;
}
.Footer .Container #left img {
  height: auto;
  width: 179px;
}
.Footer .Container #left p {
  margin: 1.5em 0 0 0;
  font-weight: 100;
  font-size: 12px;
}
.Footer .Container #right p {
  font-weight: 100;
  font-size: 14px;
  line-height: 28px;
}

.MainSectionOne {
  height: 45vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 4em 0 0 0;
}
.MainSectionOne img {
  position: relative;
  width: 34vw;
  height: 38vh;
  left: 8%;
}
.MainSectionOne #WelcomeLanding {
  position: relative;
  background-color: RGB(26, 38, 76);
  width: 34vw;
  height: 38vh;
  right: 8%;
  transform: translateY(20%);
}
.MainSectionOne #WelcomeLanding h1 {
  margin: 2em 0 0 2vw;
  font-size: 2.5em;
}
.MainSectionOne #WelcomeLanding #p-container {
  font-weight: 100;
  font-size: 14px;
  margin: 2em 0 0 2vw;
}
.MainSectionOne #WelcomeLanding #p-container p:nth-child(2) {
  padding: 20px 0 30px 0;
}
.MainSectionOne #WelcomeLanding #SeeMore {
  text-decoration: none;
  border: #E6C22E 1px solid;
  padding: 0.5em 1em 0.5em 1em;
  margin: 0 0 0 2vw;
  color: #E6C22E;
}

.MainSectionTwo {
  height: auto;
  width: 100vw;
  margin: 15vh 0 0 0;
  position: relative;
  display: flex;
  justify-content: center;
}
.MainSectionTwo .ImageContainer {
  width: 54vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.MainSectionTwo .ImageContainer img {
  width: 599px;
  height: auto;
}

.AboutSectionOneContainer {
  width: 100vw;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 4em 0 0 0;
}
.AboutSectionOneContainer .AboutSectionOne {
  width: 54vw;
  height: 50vh;
  background-color: RGB(26, 38, 76);
  display: grid;
  grid-template-columns: 1fr 1.8fr 0.1fr;
  grid-template-rows: 0.2fr 1fr 0.3fr;
  grid-template-areas: ". . ." "Left Right ." ". . .";
}
.AboutSectionOneContainer .AboutSectionOne #Left {
  grid-area: Left;
  padding: 0 0 0 0.8vw;
}
.AboutSectionOneContainer .AboutSectionOne #Left h1 {
  font-size: 36px;
}
.AboutSectionOneContainer .AboutSectionOne #Right {
  padding: 0 0 0 2vw;
  grid-area: Right;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.2fr 1.2fr;
  grid-template-areas: "TopP" "BottomP";
}
.AboutSectionOneContainer .AboutSectionOne #Right p {
  font-weight: 100;
  font-size: 14px;
  line-height: 28px;
}
.AboutSectionOneContainer .AboutSectionOne #Right #TopP {
  grid-area: TopP;
}
.AboutSectionOneContainer .AboutSectionOne #Right #BottomP {
  grid-area: BottomP;
}/*# sourceMappingURL=style.css.map */